[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = https://github.com/groenewege/vim-less.git
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/bundle/wombat"]
	path = vim/bundle/wombat
	url = https://github.com/cschlueter/vim-wombat.git
[submodule "vim/bundle/startify"]
	path = vim/bundle/startify
	url = https://github.com/vim-scripts/vim-startify
[submodule "vim/bundle/jade"]
	path = vim/bundle/jade
	url = https://github.com/digitaltoad/vim-pug.git
[submodule "vim/bundle/gitgutter"]
	path = vim/bundle/gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim/bundle/phpindent"]
	path = vim/bundle/phpindent
	url = https://github.com/2072/PHP-Indenting-for-VIm.git
[submodule "compose/rfc1345"]
	path = compose/rfc1345
	url = https://gist.github.com/9318207.git
[submodule "vim/bundle/jshint2"]
	path = vim/bundle/jshint2
	url = https://github.com/walm/jshint.vim.git
[submodule "vim/bundle/synastic"]
	path = vim/bundle/synastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/bundle/jedi"]
	path = vim/bundle/jedi
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/node"]
	path = vim/bundle/node
	url = https://github.com/moll/vim-node.git
[submodule "vim/bundle/pikesyntax"]
	path = vim/bundle/pikesyntax
	url = https://github.com/vim-scripts/pike.vim
[submodule "vim/bundle/vimpuppet"]
	path = vim/bundle/vimpuppet
	url = https://github.com/rodjek/vim-puppet
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "vim/bundle/rainbow_parentheses.vim"]
	path = vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "vim/bundle/template"]
	path = vim/bundle/template
	url = git@github.com:zuzak/vim-template.git
[submodule "vim/bundle/vim-json"]
	path = vim/bundle/vim-json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/Dockerfile.vim"]
	path = vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim
[submodule "vim/bundle/ejs-syntax"]
	path = vim/bundle/ejs-syntax
	url = https://github.com/nikvdp/ejs-syntax
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/lepture/vim-jinja
[submodule "vim/bundle/vim-jsx"]
	path = vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "vim/bundle/Jenkinsfile-vim-syntax"]
	path = vim/bundle/Jenkinsfile-vim-syntax
	url = https://github.com/martinda/Jenkinsfile-vim-syntax
