[submodule "vim/bundle/pathogen"]
	path = vim/bundle/pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/markdown"]
	path = vim/bundle/markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/bundle/fugitive"]
	path = vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/less"]
	path = vim/bundle/less
	url = git://github.com/groenewege/vim-less
[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = git://github.com/bling/vim-airline.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/bundle/wombat"]
	path = vim/bundle/wombat
	url = git://github.com/cschlueter/vim-wombat.git
[submodule "vim/bundle/json"]
	path = vim/bundle/json
	url = https://github.com/elzr/vim-json
[submodule "vim/bundle/startify"]
	path = vim/bundle/startify
	url = https://github.com/vim-scripts/vim-startify
[submodule "vim/bundle/latex-autocompile"]
	path = vim/bundle/latex-autocompile
	url = git://git.code.sf.net/p/atp-vim/code
